.buttonStyle {
	padding: 10px 20px;
	border-radius: 20px;
	background-color: var(--primary);
	border: transparent;
	color: white;
	font-size: 15px;
	box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
	user-select: none;
	outline: none;
}

.buttonStyle:focus {
	box-shadow: 0 0 0 1pt var(--primary);
}
